[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
langchain = ">=0.1.14"
faiss-cpu = "*"
tiktoken = "*"
pypdf = "*"
streamlit = "*"
python-dotenv = "*"
langchain-community = "*"
langchain-chroma = "*"
langchain-openai = "*"
langchain-huggingface = "*"
transformers = "*"
torchvision = "*"
torchaudio = "*"
torch = "*"
sentence-transformers = "*"
chromadb = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
